body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container
{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    width: 48%;
}
.card-body {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
code {
    opacity: 0.9;
}
.card-title {
    background: orange;
    padding: 10px;
    font-size: 25px
}